#Deviant-Love-Heart {
	list-style-image: url("chrome://DeviantLove/content/core/16Icon.png");
	min-width: 0;
}
#Deviant-Love-Heart, #Deviant-Love-Heart > .button-box {
	background: transparent;
	padding: 0px;
	margin: 0px;
	border: 0px; 
}