/* Global styles */
* {
	box-sizing: border-box;
	line-height: 1.25em;
}
body {
	background-color: hsl(27, 100%, 96%);
	color: black;
	font-family: sans-serif;
	margin: 0;
}
body > div {
	height: 100vh;
}

/* Common styles */
a:link { color: rgb(0, 0, 238); }
a:visited { color: rgb(85, 26, 139); }
a img {
	border: 0;
}
.avatar {
	background-color: white;
	box-shadow: hsla(0, 0%, 0%, 0.8) 2px 2px 2px;
	position: relative;
}
.avatar img {
	display: block;
}
@keyframes spin {
	0% { transform: none; }
	100% { transform: rotate(1turn); }
}
.avatar.loading::before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	content: url(/images/spinner.svg);
	animation: 5s linear infinite spin;
}
.closeButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	border-radius: 0; /* Needed for Firefox for Android */
}
.closeButton::before {
	width: 20px;
	height: 16px;
	margin-right: 4px;
	content: " ";
	background-size: contain;
	background-image: url(/images/close.svg);
}
.deviationList {
	padding: 0 0.2em;
}
.notice {
	margin: 4px;
	padding: 3px 5px;
	border-radius: 4px;
	background-color: hsla(0, 100%, 100%, .6);
	font-size: 14.5px;
}
.textEntryLine {
	display: flex;
	flex-direction: row;
}
.textEntryLine > * {
	margin: 2px;
	padding: 0;
}
.textEntryLine > :not(:first-child) {
	margin-left: 0;
}
.textEntryLine > input {
	flex: 1;
}

/* Preparation screen */
#preparationScreen {
	padding: 12px;
}
#scanMessage {
	font-size: 200%;
	margin-bottom: 10px;
}
#scanPercentage {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}
#scanPercentageText {
    width: 3em;
	text-align: center;
}
#scanProgressBar {
    flex: 1;
}
#scannedDeviations {
	margin-bottom: 0.3em;
}

/* Main screen & normal mode */
#mainScreen {
	padding: 8px;
	display: flex;
	flex-direction: column;
}
#mainScreen > * {
	border: 1px solid black;
}
#mainScreen > * + * {
	border-top: 0;
}
#scanResults {
	background: url("/images/heart/scalable.svg"), linear-gradient(to bottom, hsl(40, 100%, 70%), hsl(40, 100%, 50%));
	background-size: 48px 48px, auto;
	background-position: 5px center, 0 0;
	background-repeat: no-repeat, repeat;
	padding: 5px;
	padding-left: 58px;
}
#scanResults .dynamic {
	font-weight: bold;
}
#actionBar {
	display: flex;
	flex-direction: row;
	align-items: center;
    background: hsl(35, 100%, 50%);
	height: 25px; /* include 1px border */
}
.action {
	flex: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	padding: 0;
	margin-right: auto;
	width: 90px;
	height: 20px;
	border-radius: 4px;
	font-size: 15.5px;
}
.action:first-child {
	margin-left: auto;
}
:not(.usingTouch) .action:hover {
	background: hsla(0, 0%, 100%, 0.55);
}
.action:active {
	background: hsla(0, 0%, 80%, 0.55);
}
.action.current {
	background: hsla(0, 0%, 100%, 0.70);
    height: 22px;
    border: 1px solid hsla(0, 0%, 0%, 0.4);
}
.action.current:active {
	background: hsla(0, 0%, 80%, 0.70);
}
.action::before {
	width: 18px;
	height: 18px;
	margin-right: 4px;
	content: " ";
	background-size: contain;
}
.findAction::before { background-image: url(/images/find.svg); }
.optionsAction::before { background-image: url(/images/iconmonstr/gear-1-recolored.svg); }
#lovedArtists {
	flex: 1;
}
#lovedArtists, .closerLook, .deviantList {
	background: hsl(357, 90%, 54%);
}
#watchFailure {
    background-image: url("/images/failed.svg"), url("/images/deviantart/Watch.png");
    background-position: 5px center, 7px center;
    background-repeat: no-repeat, no-repeat;
    padding-left: 30px;
}
.deviant + .deviant {
	margin-top: 1px;
}
.deviantHeader {
	display: grid;
	grid-template:
		". . note ."
		"artWatch faves name subaccounts" / 22px minmax(3em, auto) 1fr 26px;
	grid-column-gap: 0.2em;
	padding-left: 0.2em;
}
.deviant:not(.open) .deviantHeader {
	background: hsl(357, 90%, 76%);
	cursor: pointer;
}
.deviant:not(.open) .deviantHeader:hover, .deviant:not(.open) .deviantHeader:active {
	background: linear-gradient(to bottom, hsl(357, 90%, 88%), hsl(357, 90%, 82%));
}
.deviant.open .deviantHeader {
	background: hsl(357, 90%, 72%);
}
	.deviantNote {
		grid-area: note;
		font-style: italic;
		font-size: 70%;
		line-height: 150%;
	}
	.deviantName {
		grid-area: name;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.deviantFaves {
		grid-area: faves;
		text-align: right;
		font-weight: bold;
	}
	.deviantFaves::before {
		content: "(";
	}
	.deviantFaves::after {
		content: ")";
	}
	.artWatch {
		grid-area: artWatch;
		width: 22px;
		background: url("/images/deviantart/DeviationWatch.png");
		background-position: center;
		background-repeat: no-repeat;
	}
	.artWatch:not(.true) {
		filter: brightness(0%) opacity(30%);
	}
	.subaccountsButton.mini {
		grid-area: subaccounts;
		display: none;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("/images/combine.svg");
	}
	:not(.usingTouch) .deviant:hover .subaccountsButton.mini:not(.has):not(.editing):not(:hover) {
		display: inline-block;
		filter: brightness(0%) opacity(40%);
	}
	.subaccountsButton.mini.has, .subaccountsButton.mini.editing, .subaccountsButton.mini:hover {
		display: inline-block;
	}
.closerLook {
	display: grid;
	grid:
		"touch touch"
		"sidebar main" / 108px 1fr;
}
.touchBar {
	grid-area: touch;
	display: flex;
	flex-direction: row;
}
	.artWatchHint {
		font-size: 12px;
	}
	.subaccountsButton.touch {
		margin-left: auto;
		height: 22px;
		line-height: 20px;
		font-size: 12px;
		border: 1px solid hsl(16, 100%, 25%);
		border-radius: 3px;
		background-color: hsl(6, 90%, 88%);
		background-repeat: no-repeat;
		background-image: url("/images/combine.svg");
		background-position: 2px 50%;
		padding-left: 22px;
		padding-right: 2px;
		color: black;
		cursor: pointer;
	}
.deviantDetails {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 4px;
}
.deviantDetails > :not(:first-child) {
	margin-top: 6px;
}
.deviantLinks > a {
	display: block;
	width: 100%;
	height: 22px;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid hsl(16, 100%, 25%);
	border-radius: 3px;
	background-color: hsl(6, 90%, 88%);
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 22px;
	padding-right: 2px;
	color: black;
	text-decoration: none;
	text-align: left;
}
.deviantLinks > :not(:first-child) {
    margin-top: 3px;
}
.deviantLinks > .subaccountsButton {
	background-image: url("/images/combine.svg");
}
.profileLink { background-image: url(/images/deviantart/Profile.png); }
.galleryLink { background-image: url(/images/deviantart/Gallery.png); }
.favouritesLink { background-image: url(/images/deviantart/Favourites.png); }
.closerLook > .deviationList {
	grid-area: main;
	background-color: hsl(357, 90%, 90%);
}
.deviation {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.miniSubaccountsEditor {
	grid-area: main;
	background: hsla(0, 0%, 0%, 0.95);
}
	.miniSubaccountsEditor .entry {
		display: grid;
		grid-template:
			"avatar name" 28px
			"avatar actions" 28px / 56px 1fr;
		align-items: center;
	}
	.miniSubaccountsEditor .avatar {
		grid-area: avatar;
		justify-self: center;
	}
	.miniSubaccountsEditor .name {
		grid-area: name;
		color: white;
		font-weight: bold;
	}
	.miniSubaccountsEditor .actions {
		grid-area: actions;
		display: flex;
	}
		.miniSubaccountsEditor .actions > * {
			flex: 1;
		}
#tipOfTheMoment {
	position: relative;
	background-color: hsl(40, 100%, 65%);
	font-size: 75%;
	padding: 3px;
	padding-left: 22px;
}
#totmIcon {
	position: absolute;
	top: 3px;
	left: 3px;
}

/* Find mode */
#goFind {
	width: 20px;
	background: url("/images/find.svg");
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}
.findMode #lovedArtists {
	display: flex;
	flex-direction: column;
}
.findMode #lovedArtists > :not(:first-child) {
	border-top: 1px solid black;
}
#findBar {
	flex: none;
	background-color: hsl(55, 100%, 55%);
}
#findBar > * {
	height: 20px;
}
#findBar > .closeButton {
    padding: 0 2px;
    margin: 0;
    height: 24px;
    border: none;
    border-left: 1px solid hsl(0, 0%, 0%);
    background: hsl(58, 100%, 72%);
}
#queryError {
	flex: none;
	background-color: hsl(55, 96%, 84%);
	padding: 2px;
}
#resultsDisplay {
	flex: 1;
	background: hsl(48, 100%, 54%);
}
#resultsDisplay.hasResults {
	background: hsl(46, 100%, 43%);
}
#findHelp, #noResults {
	margin: 20px 40px;
	font-size: 20px;
}
#resultsDisplay > .sectionHeader {
	padding: 0.1em 0.5em;
	font-weight: 800;
	font-size: 120%;
	text-align: center;
	background-color: hsl(53, 93%, 75%);
	border: solid hsl(46, 100%, 43%);
	border-width: 3px 0 1px;
}
#resultsDisplay > .sectionHeader:first-child {
	border-top-width: 0;
}
.deviationResultGroup {
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: min-content 1fr;
	border-top: 1px solid hsl(46, 100%, 43%);
}
.sectionHeader + .deviationResultGroup {
	border-top: none;
}
.deviationResultGroupHeader {
	background-color: hsl(54, 91%, 84%);
	font-weight: bold;
	padding: 0 0.2em;
}
.deviationResultGroup > .deviationList {
	background-color: hsl(56, 89%, 93%);
}
.deviationResultGroupSidebar {
	grid-column: 2;
	grid-row: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(50, 95%, 60%);
	padding: 6px 4px;
}
.deviationResultGroupSidebar > :not(:first-child) {
	margin-top: 6px;
}
.viewDeviant::before {
	content: "(";
}
.viewDeviant::after {
	content: ")";
}

/* Options mode */
.optionsMode #lovedArtists {
	padding: 9px;
	background: hsl(357, 75%, 62%);
}
.optionsMode .closeButton {
	position: absolute;
	top: 4px;
	right: 4px;
	border: 1px solid black;
	background: hsl(0, 100%, 88%);
}
.optionsMode .sectionHeader {
	font-size: 22px;
	font-weight: bold;
	margin: 7px 0;
}
.subaccountsMessage, #syncStatus {
	padding: 7px;
	font-size: 12px;
}
.optionsMode #lovedArtists .ok { background: hsl(112, 58%, 82%); }
.optionsMode #lovedArtists .warning { background: hsl(57, 100%, 88%); }
.optionsMode #lovedArtists .error { background: hsl(0, 100%, 76%); }
.subaccountsMessage p:first-child, #syncStatus p:first-child { margin-top: 0; }
.subaccountsMessage p:last-child, #syncStatus p:last-child { margin-bottom: 0; }
#subaccountsEditor {
	border: 1px solid black;
	background: hsl(10, 100%, 55%);
	font-size: 14px;
	height: 300px;
	overflow: auto;
}
#subaccountsEditor, .subaccountsMessage {
	box-sizing: border-box;
	max-width: 400px;
}
#subaccountsEditor.busy {
    filter: saturate(30%);
    cursor: wait;
}
	#subaccountsEditor > * {
		margin: 4px;
	}
	#subaccountsEditor.busy > * {
		pointer-events: none;
	}
	.subaccountOwner {
		border: 1px solid black;
		background-color: white;
		border-radius: 14px;
		overflow: hidden;
	}
	.accountLine, .actionLine {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 24px;
		height: 24px;
	}
	.accountLine {
		border-bottom: 1px solid hsl(0, 0%, 80%);
	}
	.ownerLine {
		background-color: hsl(48, 100%, 60%);
		background-image: url(/images/combine.svg);
		background-size: 18px 18px;
		background-position: 3px 3px;
		background-repeat: no-repeat;
	}
	.ownerLine .name { font-weight: bold; }
	.accountLine .name {
		flex: 1;
	}
	.accountLine button {
		background: none;
		border: none;
		text-decoration: underline;
		color: rgb(0, 0, 238);
		cursor: pointer;
	}
	.accountLine button:focus {
		outline: 1px dotted black;
	}
	#subaccountsEditor button, #subaccountsEditor input {
		font-size: 12px;
		padding-top: 1px;
		padding-bottom: 1px;
	}
	.openNewOwner {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: bold;
	}
	.openNewOwner::before {
		content: " ";
		width: 22px;
		height: 18px;
		background-image: url(/images/add.svg), url(/images/combine.svg);
		background-size: 12px 12px, 18px 18px;
		background-position: bottom right, top left;
		background-repeat: no-repeat;
		margin-right: 6px;
	}
.subaccountsMessage {
	border: 1px solid black;
	border-top: none;
}
#syncStatus {
	border: 1px solid black;
}