* {
	box-sizing: border-box;
	line-height: 1.25em;
}
body {
	background-color: hsl(27, 100%, 96%);
	color: black;
	font-family: sans-serif;
	margin: 0;
}
body > div {
	height: 100vh;
	padding: 9px;
}
a:link { color: rgb(0, 0, 238); }
a:visited { color: rgb(85, 26, 139); }
a img {
	border: 0;
}

#scanMessage {
	font-size: 200%;
	margin-bottom: 10px;
}
#scanPercentage {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}
#scanPercentageText {
    width: 3em;
	text-align: center;
}
#scanProgressBar {
    flex: 1;
}
#scannedDeviations {
	margin-bottom: 0.3em;
}

#mainScreen {
	display: flex;
	flex-direction: column;
}
#mainScreen > * {
	border: 1px solid black;
}
#mainScreen > * + * {
	border-top: 0;
}
#scanResults {
	background: url("/images/heart/scalable.svg"), linear-gradient(to bottom, hsl(40, 100%, 70%), hsl(40, 100%, 50%));
	background-size: 48px 48px, auto;
	background-position: 5px center, 0 0;
	background-repeat: no-repeat, repeat;
	padding: 5px;
	padding-left: 58px;
}
#scanResults .dynamic {
	font-weight: bold;
}
#findBar {
	background-color: hsl(55, 100%, 55%);
}
#findBar > * {
	height: 20px;
}
.textEntryLine {
	display: flex;
	flex-direction: row;
	padding: 1px;
}
.textEntryLine > * {
	display: block;
	margin: 1px;
	padding: 0;
}
.textEntryLine > input {
	flex: 1;
}
#queryError {
	background-color: hsl(55, 96%, 84%);
	padding: 2px;
}
#findBar button {
	width: 20px;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}
#goFind {
	background: url("/images/find.svg");
}
#noFind {
	background: url("/images/findClose.svg");
	display: none;
}
.findMode #noFind {
	display: block;
}
.findMode #lovedArtists {
    background: hsl(46, 100%, 43%);
}
.sectionHeader {
	padding: 0.1em 0.5em;
	font-weight: bold;
	background-color: hsl(53, 93%, 75%);
}
.deviationResultGroup {
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-template-rows: min-content 1fr;
}
.deviationResultGroupSidebar {
	grid-column: 2;
	grid-row: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.viewDeviant::before {
	content: "(";
}
.viewDeviant::after {
	content: ")";
}
#lovedArtists {
	flex: 1;
}
#lovedArtists, .closerLook, .deviantList {
	background: hsl(357, 90%, 54%);
}
.notice {
	margin: 4px;
	padding: 3px;
	border-radius: 4px;
	background-color: hsla(0, 100%, 100%, .6);
	font-size: 14.5px;
}
#watchFailure {
    background-image: url("/images/failed.svg"), url("/images/deviantart/Watch.png");
    background-position: 5px center, 7px center;
    background-repeat: no-repeat, no-repeat;
    padding-left: 30px;
}
.deviant:not(.opened) {
	background: hsl(357, 90%, 76%);
	cursor: pointer;
}
.deviant:hover:not(.touched) {
	background: linear-gradient(to bottom, hsl(357, 90%, 88%), hsl(357, 90%, 82%));
}
.deviant.opened.opened {
	background: hsl(357, 90%, 72%);
}
.deviant + .deviant {
	margin-top: 1px;
}
.deviantNote {
    font-style: italic;
    font-size: 70%;
    margin-left: 28px;
    line-height: 150%;
}
.deviantLine {
	display: flex;
	position: relative;
	white-space: nowrap;
}
.deviantName {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}
.deviantFaves {
	display: inline-block;
	width: 3em;
	text-align: right;
	font-weight: bold;
	margin-right: 0.2em;
}
.deviantFaves::before {
	content: "(";
}
.deviantFaves::after {
	content: ")";
}
.deviationWatch {
	display: inline-block;
	width: 22px;
	margin: 0 0.2em;
}
.deviationWatch.true {
	background: url("/images/deviantart/DeviationWatch.png");
	background-position: center;
	background-repeat: no-repeat;
}
.subaccountsButton.line {
	width: 26px;
	display: none;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/images/combineSilhouette.svg"); /* for when only the below rule matches */
}
.deviant:hover:not(.touched) .subaccountsButton.line {
	display: inline-block;
}
.subaccountsButton.line.has, .subaccountsButton.line.editing, .subaccountsButton.line:hover {
	display: inline-block;
	background-image: url("/images/combine.svg");
}
.closerLook {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.deviantDetails {
	width: 108px;
	padding: 9px 4px;
	text-align: center;
	position: relative;
}
.avatar {
	display: inline-block;
	background-color: white;
	box-shadow: hsla(0, 0%, 0%, 0.8) 2px 2px 2px;
	position: relative;
}
.avatar img {
	display: block;
}
@keyframes spin {
	0% { transform: none; }
	100% { transform: rotate(1turn); }
}
.avatar.loading::before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	content: url(/images/spinner.svg);
	animation: 5s linear infinite spin;
}
.deviantLinks.touch > * {
	display: block;
	width: 100%;
	height: 22px;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid hsl(16, 100%, 25%);
	border-radius: 3px;
	background-color: hsl(6, 90%, 88%);
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding: 0;
	padding-left: 22px;
	padding-right: 2px;
	color: black;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}
.deviantLinks.touch > :not(:first-child) {
    margin-top: 3px;
}
.deviantLinks.touch > .subaccountsButton {
	background-image: url("/images/combine.svg");
}
.profileLink { background-image: url(/images/deviantart/Profile.png); }
.galleryLink { background-image: url(/images/deviantart/Gallery.png); }
.favouritesLink { background-image: url(/images/deviantart/Favourites.png); }
.deviationList {
	flex: 1;
	padding: 0 0.2em;
	background-color: hsl(357, 90%, 90%);
}
.deviation {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.subaccountsEditor {
	background-color: hsl(55, 100%, 94%);
	position: relative;
}
.closeSubaccountsEditor {
	background-image: url(/images/close.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
    width: 1.25em;
    height: 1.25em;
    background-size: 0.8em;
}
.subaccountsEditor > .sectionHeader {
	padding-right: 1.25em;
}
.subaccount {
    position: relative;
    padding: 1px 3px;
    padding-right: 5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.subaccount > * {
	vertical-align: middle;
}
.subaccount a {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 2px;
}
.subaccountName {
	margin-left: 1px;
}
.removeSubaccount {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 5em;
    background: none;
    border: none;
    text-decoration: underline;
	color: rgb(0, 0, 238);
	cursor: pointer;
}
.addSubaccount > label {
	display: block;
}
.confirmAdd {
	padding: 0 4px;
}
.addNotice {
	padding: 0 2px;
}
#tipOfTheMoment {
	position: relative;
	background-color: hsl(40, 100%, 65%);
	font-size: 75%;
	padding: 3px;
	padding-left: 22px;
}
#totmIcon {
	position: absolute;
	top: 3px;
	left: 3px;
}