body {
	background-color: white;
	color: black;
	font-family: sans-serif;
}
a img {
	border: 0;
}
body > div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.popup > div {
	padding: 12px;
}
.sidebar > div {
	padding: 8px;
}
#scanMessage {
	font-size: 200%;
	margin-bottom: 10px;
}
#scanProgressInfo {
	margin-bottom: 8px;
}
#mainScreen {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}
#mainScreen > * {
	border: 1px solid black;
}
#mainScreen > * + * {
	border-top: 0;
}
#scanResults {
	background: url("48Icon.png"), -moz-linear-gradient(top, hsl(40, 100%, 70%), hsl(40, 100%, 50%));
	background: url("48Icon.png"), -webkit-gradient(linear, left top, left bottom,
		from(hsl(40, 100%, 70%)), to(hsl(40, 100%, 50%)));
	background: url("48Icon.png"), linear-gradient(top, hsl(40, 100%, 70%), hsl(40, 100%, 50%));
	background-position: 5px center, 0 0;
	background-repeat: no-repeat, repeat;
	/* background-color: hsl(40, 100%, 60%); */
	padding: 5px;
	padding-left: 58px;
}
#scanResults .dynamic {
	font-weight: bold;
}
#watchFailure {
	float: right;
	width: 20px;
	height: 20px;
	background: url("Failed.png"), url("Watch.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
}
#findBar {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	padding: 1px;
	background-color: hsl(55, 100%, 55%);
}
#findBar > * {
	display: block;
	margin: 1px;
	padding: 0;
}
#query {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
#queryError {
	background-color: hsl(55, 100%, 82%);
	padding: 2px;
}
#findBar button {
	width: 16px;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}
#goFind {
	background: url("SilkIcons/magnifier.png");
}
#noFind {
	background: url("SilkIcons/cancel.png");
	display: none;
}
.lookWhatIFound #noFind {
	display: block;
}
.foundHeader {
	padding: 0.1em 0.5em;
	font-weight: bold;
	background-color: hsl(55, 100%, 66%);
}
#lovedArtists.noResults {
	background-color: hsl(55, 100%, 94%);
	padding: 2px;
}
#lovedArtists {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
#lovedArtists, .closerLook {
	background: hsl(350, 100%, 54%);
}
.deviant:not(.opened) {
	background: hsl(350, 100%, 78%);
	cursor: pointer;
}
.deviant:hover {
	background: -moz-linear-gradient(top, hsl(350, 100%, 88%), hsl(350, 100%, 82%));
	background: -webkit-gradient(linear, left top, left bottom,
		from(hsl(350, 100%, 88%)), to(hsl(350, 100%, 82%)));
	background: linear-gradient(top, hsl(350, 100%, 88%), hsl(350, 100%, 82%));
}
.deviant.opened {
	background: hsl(350, 100%, 74%);
}
.deviant + .deviant {
	margin-top: 1px;
}
.deviantFaves {
	display: inline-block;
	width: 3em;
	text-align: right;
	font-weight: bold;
	margin-right: 0.2em;
}
.deviantFaves::before {
	content: "(";
}
.deviantFaves::after {
	content: ")";
}
.deviationWatch {
	display: inline-block;
	width: 22px;
	margin: 0 0.2em;
}
.deviationWatch.true {
	background: url("DeviationWatch.png");
	background-position: center;
	background-repeat: no-repeat;
}
.deviantDetails {
	float: left;
	width: 72px;
	padding: 4px;
	text-align: center;
}
.avatar {
	background-color: white;
	-moz-box-shadow: hsla(0, 0%, 0%, 0.8) 2px 2px 2px;
	-webkit-box-shadow: hsla(0, 0%, 0%, 0.8) 2px 2px 2px;
	box-shadow: hsla(0, 0%, 0%, 0.8) 2px 2px 2px;
}
.deviantLinks {
	height: 20px;
	margin-top: 4px;
}
.deviantLinks a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
}
.deviantLinks a + a {
	margin-left: 3px;
}
.profileLink { background-image: url(Profile.png); }
.galleryLink { background-image: url(Gallery.png); }
.favouritesLink { background-image: url(Favourites.png); }
.deviationList {
	margin-left: 80px;
	height: 100%;
	padding: 0 0.2em;
	background-color: hsl(350, 100%, 90%);
}
#tipOfTheMoment {
	position: relative;
	background-color: hsl(40, 100%, 65%);
	font-size: 75%;
	padding: 3px;
	padding-left: 22px;
}
#tOTMIcon {
	position: absolute;
	top: 3px;
	left: 3px;
}