* {
	box-sizing: border-box;
	line-height: 1.25em;
}
body {
	background-color: hsl(27, 100%, 96%);
	color: black;
	font-family: sans-serif;
}
a:link { color: rgb(0, 0, 238); }
a:visited { color: rgb(85, 26, 139); }
a img {
	border: 0;
}
.popup > div {
	padding: 9px;
}
.sidebar > div {
	padding: 6px;
}

#scanMessage {
	font-size: 200%;
	margin-bottom: 10px;
}
#scanPercentage {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}
#scanPercentageText {
    width: 3em;
	text-align: center;
}
#scanProgressBar {
    flex: 1;
}
#scannedDeviations {
	margin-bottom: 0.3em;
}

#mainScreen {
	display: flex;
	flex-direction: column;
}
#mainScreen > * {
	border: 1px solid black;
}
#mainScreen > * + * {
	border-top: 0;
}
#scanResults {
	background: url("48Icon.png"), linear-gradient(to bottom, hsl(40, 100%, 70%), hsl(40, 100%, 50%));
	background-position: 5px center, 0 0;
	background-repeat: no-repeat, repeat;
	padding: 5px;
	padding-left: 58px;
}
#scanResults .dynamic {
	font-weight: bold;
}
#watchFailure {
	float: right;
	width: 20px;
	height: 20px;
	background: url("Failed.png"), url("deviantart/Watch.png");
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
}
#findBar {
	background-color: hsl(55, 100%, 55%);
}
.textEntryLine {
	display: flex;
	flex-direction: row;
	padding: 1px;
}
.textEntryLine > * {
	display: block;
	margin: 1px;
	padding: 0;
}
.textEntryLine > input {
	flex: 1;
}
#queryError {
	background-color: hsl(55, 96%, 84%);
	padding: 2px;
}
#findBar button {
	width: 16px;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}
#goFind {
	background: url("SilkIcons/magnifier.png");
}
#noFind {
	background: url("SilkIcons/cancel.png");
	display: none;
}
.lookWhatIFound #noFind {
	display: block;
}
.sectionHeader {
	padding: 0.1em 0.5em;
	font-weight: bold;
	background-color: hsl(53, 93%, 75%);
}
#lovedArtists.noResults, #subaccountsEditor {
	background-color: hsl(55, 100%, 94%);
}
#lovedArtists.noResults {
	padding: 2px;
}
#lovedArtists {
	flex: 1;
}
#lovedArtists, .closerLook {
	background: hsl(357, 90%, 54%);
}
.deviant:not(.opened) {
	background: hsl(357, 90%, 76%);
	cursor: pointer;
}
.deviant:hover {
	background: linear-gradient(to bottom, hsl(357, 90%, 88%), hsl(357, 90%, 82%));
}
.deviant.opened {
	background: hsl(357, 90%, 72%);
}
.deviant + .deviant {
	margin-top: 1px;
}
.deviantNote {
    font-style: italic;
    font-size: 70%;
    margin-left: 28px;
    line-height: 150%;
}
.deviantLine {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 26px;
}
.deviantFaves {
	display: inline-block;
	width: 3em;
	text-align: right;
	font-weight: bold;
	margin-right: 0.2em;
}
.deviantFaves::before {
	content: "(";
}
.deviantFaves::after {
	content: ")";
}
.deviationWatch {
	display: inline-block;
	width: 22px;
	margin: 0 0.2em;
}
.deviationWatch.true {
	background: url("deviantart/DeviationWatch.png");
	background-position: center;
	background-repeat: no-repeat;
}
.subaccountsButton {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 26px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}
.deviant:hover .subaccountsButton:not(.has):not(.editing):not(:hover) {
	background-image: url("combineSilhouette.svg");
}
.subaccountsButton.has, .subaccountsButton.editing, .subaccountsButton:hover {
	background-image: url("combine.svg");
}
.closerLook {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.deviantDetails {
	width: 80px;
	padding: 9px 4px;
	text-align: center;
	position: relative;
}
.deviantLink {
	display: inline-block;
}
.avatar {
	display: block;
	background-color: white;
	box-shadow: hsla(0, 0%, 0%, 0.8) 2px 2px 2px;
}
.avatarLoading {
	position: absolute;
	left: 4px;
	right: 4px;
	top: 4px;
	line-height: 50px;
	font-size: 120%;
}
.deviantLinks {
	height: 20px;
	margin-top: 6px;
	margin-bottom: -1px;
}
.deviantLinks a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
}
.deviantLinks a + a {
	margin-left: 3px;
}
.profileLink { background-image: url(deviantart/Profile.png); }
.galleryLink { background-image: url(deviantart/Gallery.png); }
.favouritesLink { background-image: url(deviantart/Favourites.png); }
.deviationList {
	flex: 1;
	padding: 0 0.2em;
	background-color: hsl(357, 90%, 90%);
}
.deviation {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
#subaccountsEditor {
	position: relative;
}
#closeSubaccountsEditor {
	background-image: url(close.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
    width: 1.25em;
    height: 1.25em;
    background-size: 0.8em;
}
#subaccountsEditor > .sectionHeader {
	padding-right: 1.25em;
}
#subaccountsEditor:not(.has) #subaccountsList {
	display: none;
}
.subaccount {
    position: relative;
    padding: 1px 3px;
    padding-right: 5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.subaccount > * {
	vertical-align: middle;
}
.subaccount a {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 2px;
}
.subaccountName {
	margin-left: 1px;
}
.removeSubaccount {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 5em;
    background: none;
    border: none;
    text-decoration: underline;
	color: rgb(0, 0, 238);
	cursor: pointer;
}
#addSubaccount > label {
	display: block;
}
#confirmAdd {
	padding: 0 4px;
}
#addNotice {
	padding: 0 2px;
}
#tipOfTheMoment {
	position: relative;
	background-color: hsl(40, 100%, 65%);
	font-size: 75%;
	padding: 3px;
	padding-left: 22px;
}
#tOTMIcon {
	position: absolute;
	top: 3px;
	left: 3px;
}