body {
	font-family: sans-serif;
}
h1 {
	font-size: 22px;
}
form {
	margin: 0;
}
.subaccountsMessage, #syncStatus {
	padding: 7px;
	font-size: 12px;
}
.ok { background: hsl(112, 58%, 82%); }
.warning { background: hsl(57, 100%, 88%); }
.error { background: hsl(0, 100%, 76%); }
p { line-height: initial; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

#subaccountsEditor {
	border: 1px solid black;
	background: white;
	font-size: 14px;
	height: 301px;
	overflow: auto;
}
#subaccountsEditor, .subaccountsMessage {
	box-sizing: border-box;
	max-width: 400px;
}
#subaccountsEditor.busy::after {
	content: " ";
	cursor: wait;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#subaccountsEditorExplainer {
	margin: 7px;
}

.subaccountOwner {
	margin: 4px;
	border: 1px solid black;
	border-radius: 14px;
}
.accountLine, .actionLine {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 21px;
	height: 24px;
}
.accountLine {
	border-bottom: 1px solid hsl(0, 0%, 80%);
}
.openNewOwner {
	margin: 4px;
}
.ownerLine .name, .openNewOwner { font-weight: bold; }
.accountLine .name {
	flex: 1;
}
/* !importants are for overriding Chrome options page styling */
.accountLine button {
    background: none !important;
    border: none;
	box-shadow: none !important;
    text-decoration: underline;
	color: rgb(0, 0, 238) !important;
	cursor: pointer;
}
.accountLine button:focus {
	outline: 1px dotted black !important;
}
#subaccountsEditor button, #subaccountsEditor input {
	font-size: 12px;
}
.subaccountsMessage {
	border: 1px solid black;
	border-top: none;
}

#syncStatus {
	border: 1px solid black;
}