.deviantList, .closerLook {
	background: hsl(357, 90%, 54%);
}
.deviant {
	contain: content;
}
.deviant:focus-within {
	/* This rule is needed for Firefox to show the focus ring */
	contain: layout style;
	position: relative;
	z-index: 1;
}
.deviant + .deviant {
	margin-top: 1px;
}
.deviantHeader {
	display: grid;
	grid-template:
		". . note ."
		"artWatch faves name subaccounts" / 22px minmax(3em, auto) 1fr 26px;
	grid-column-gap: 0.2em;
	padding-left: 0.2em;
}
.deviant:not(.open) .deviantHeader {
	background: hsl(357, 90%, 76%);
	cursor: pointer;
}
.deviant:not(.open) .deviantHeader:is(:hover, :active, :focus-visible) {
	background: linear-gradient(to bottom, hsl(357, 90%, 88%), hsl(357, 90%, 82%));
}
.deviant.open .deviantHeader {
	background: hsl(357, 90%, 72%);
}
	.deviantNote {
		grid-area: note;
		font-style: italic;
		font-size: 70%;
		line-height: 150%;
	}
	.deviantName {
		grid-area: name;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.deviantFaves {
		grid-area: faves;
		text-align: right;
		font-weight: bold;
	}
	.deviantFaves::before {
		content: "(";
	}
	.deviantFaves::after {
		content: ")";
	}
	.artWatch {
		grid-area: artWatch;
		width: 22px;
		background-position: center;
		background-repeat: no-repeat;
	}
	.artWatch.true { background-image: url("/images/deviantart/DeviationWatch.png"); }
	.artWatch:not(.true) {
		background-image: radial-gradient(circle at left 9px top 50%,
			hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3) 3px, transparent 3px, transparent);
	}
	.subaccountsButton.mini {
		grid-area: subaccounts;
		display: none;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("/images/combine.svg");
	}
	:not(.usingTouch) .deviant:hover .subaccountsButton.mini:not(.has):not(.editing):not(:hover) {
		display: inline-block;
		filter: brightness(0%) opacity(40%);
	}
	.subaccountsButton.mini.has, .subaccountsButton.mini.editing, .subaccountsButton.mini:hover {
		display: inline-block;
	}
	.usingTouch .subaccountsButton.mini:not(.has) {
		display: none;
	}
	.subaccountsButton.mini.editing {
		background-position: bottom 2px right 2px, center;
		background-image: url("/images/close.svg"), url("/images/combine.svg");
	}
.closerLook {
	display: grid;
	grid:
		"touch touch"
		"sidebar main" / 88px 1fr;
}
.touchBar {
	grid-area: touch;
	display: flex;
	flex-direction: row;
	padding: 3px;
	background-color: hsl(357, 90%, 66%);
}
	.artWatchHint {
		align-self: start;
		margin-top: 2px;
		border-radius: 4px;
		background-color: hsla(0, 100%, 100%, .6);
		padding: 1px 4px;
		font-size: 12px;
		position: relative;
	}
	.artWatchHint::before {
		content: " ";
		position: absolute;
		top: -4px;
		left: 5px;
		width: 0;
		height: 0;
		/* Create a triangle pointing to .artWatch */
		border-style: solid;
		border-width: 0 4px 4px 4px;
		border-color: transparent transparent hsla(0, 100%, 100%, .6) transparent;
	}
	.subaccountsButton.touch {
		margin-left: auto;
		height: 22px;
		line-height: 20px;
		font-size: 12px;
		border: 1px solid hsl(16, 100%, 25%);
		border-radius: 3px;
		background-color: hsl(6, 90%, 88%);
		background-repeat: no-repeat;
		background-image: url("/images/combine.svg");
		background-position: 2px 50%;
		padding-left: 22px;
		padding-right: 2px;
		color: black;
		cursor: pointer;
	}
	.subaccountsButton.touch.editing {
		padding-left: 24px;
		background-position: left 12px bottom 2px, left 2px bottom 1px;
		background-image: url("/images/close.svg"), url("/images/combine.svg");
	}
.deviantDetails {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px;
}
.deviantDetails > :not(:first-child) {
	margin-top: 6px;
}
.deviantLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}
.deviantLink::before {
	content: " ";
	width: 18px;
	height: 18px;
	margin-right: 4px;
}
.deviantLink.profile::before { background-image: url(/images/deviantart/Profile.png); }
.deviantLink.gallery::before { background-image: url(/images/deviantart/Gallery.png); }
.deviantLink.favourites::before { background-image: url(/images/deviantart/Favourites.png); }
.deviantLinks {
	align-self: stretch;
}
.deviantLinks > .deviantLink {
	height: 28px;
	font-size: 14px;
	border: 1px solid hsl(16, 100%, 25%);
	border-radius: 6px;
	background-color: hsl(6, 90%, 88%);
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding: 4px;
	color: black;
	text-decoration: none;
}
.deviantLinks > .deviantLink:not(:first-child) {
    margin-top: 3px;
}
.closerLook > .deviationList {
	grid-area: main;
	background-color: hsl(357, 90%, 90%);
}
.deviation {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.miniSubaccountsEditor {
	grid-area: main;
	z-index: 1;
	background: hsla(0, 0%, 0%, 0.85);
	backdrop-filter: blur(4px);
}
	.miniSubaccountsEditor .entry {
		display: grid;
		padding: 3px;
		grid-template:
			"avatar name" 25px
			"avatar actions" 25px / 53px 1fr;
		align-items: center;
		border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
	}
	.miniSubaccountsEditor .avatar {
		grid-area: avatar;
		justify-self: left;
	}
	.miniSubaccountsEditor .name {
		grid-area: name;
		color: white;
		font-weight: bold;
	}
	.miniSubaccountsEditor .actions {
		grid-area: actions;
		display: flex;
		align-self: stretch;
	}
		.miniSubaccountsEditor .actions > * {
			flex: 1;
			font-size: 12px;
			border: 1px solid;
			border-radius: 4px;
			justify-content: center;
		}
		.miniSubaccountsEditor .actions > :not(:first-child) {
			margin-left: 3px;
		}
		.miniSubaccountsEditor .deviantLink {
			border-color: hsl(106, 40%, 25%);
			background: hsl(112, 82%, 58%);
			color: black;
		}
		.miniSubaccountsEditor .removeSubaccount {
			border-color: hsl(0, 70%, 25%);
			background-color: hsl(2, 100%, 72%);
			padding: 0;
			cursor: pointer;
		}
		@media all and (max-width: 379px) {
			.miniSubaccountsEditor .deviantLink::before {
				content: none;
			}
		}