#mainScreen {
	padding: 8px;
	display: flex;
	flex-direction: column;
}
#mainScreen > * {
	border: 1px solid black;
}
#mainScreen > * + * {
	border-top: 0;
}
#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(to bottom, hsl(40, 100%, 70%), hsl(40, 100%, 50%));
}
#header::before {
	content: " ";
	width: 48px;
	height: 48px;
	background: url("/images/heart/scalable.svg");
	background-size: 48px 48px;
	margin-left: 5px;
}
.mobile #header {
	padding-left: 47px;
}
.mobile #header::before {
	content: none;
}
	#scanResults {
		flex: 1;
		margin: 5px;
	}
	#scanResults .dynamic {
		font-weight: bold;
	}
	#openHamburgerMenu, #hamburgerMenu {
		position: absolute;
		top: -2px;
		left: -2px;
		border: 2px solid black;
		border-bottom-right-radius: 12px;
		background: hsl(35, 100%, 50%);
		z-index: 1;
	}
	#openHamburgerMenu, #closeHamburgerMenu {
		box-sizing: content-box;
		width: 54px;
		height: 54px;
		padding: 0;
		background-image: url("/images/heart/scalable.svg");
		background-size: 48px 48px;
		background-position: center;
		background-repeat: no-repeat;
	}
	#openHamburgerMenu::before, #closeHamburgerMenu::before {
		content: "";
		display: block;
		position: absolute;
		right: 4px;
		bottom: 4px;
		width: 9px;
		height: 9px;
		opacity: 0.5;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#openHamburgerMenu::before { background-image: url(/images/hamburger.svg); }
	#closeHamburgerMenu::before { background-image: url(/images/collapse.svg); }
	#hamburgerMenu {
		--starting-transform: translate(-100%, -100%) translate(58px, 58px);
		width: 140px;
		display: grid;
		grid-template:
			"actions actions"
			"close back" / 1fr auto;
		--inner-border-color: hsl(23, 100%, 40%);
	}
	#hamburgerMenu #actionList {
		grid-area: actions;
	}
	.closeDeviantLove {
		grid-area: close;
		border: none;
		background: none;
		padding: 3px;
		font-size: 12px;
		font-family: inherit;
	}
	.closeDeviantLove::before {
		content: "";
		display: inline-block;
		width: 15px;
		height: 12px;
		background-image: url(/images/close.svg);
		background-size: contain;
		margin-right: 0.2em;
	}
	#closeHamburgerMenu {
		grid-area: back;
		border: none;
		border-left: 1px solid var(--inner-border-color);
		background-color: transparent;
	}
.action {
	flex: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: none;
	border: none;
	padding: 0;
}
body:not(.usingTouch) .action:hover:not(:active):not(.current) {
	background: hsla(0, 0%, 100%, 0.55);
}
.action:active {
	background: hsla(0, 0%, 80%, 0.55);
}
.action.current {
	background: hsla(0, 0%, 100%, 0.70);
}
.action.current:active {
	background: hsla(0, 0%, 80%, 0.70);
}
.action::before {
	width: 18px;
	height: 18px;
	content: " ";
	background-size: contain;
}
.findAction::before { background-image: url(/images/find.svg); }
.optionsAction::before { background-image: url(/images/iconmonstr/gear-1-recolored.svg); }
#header > .optionsAction {
	position: absolute;
	top: -2px;
	right: 0;
	border: 2px solid black;
	border-right: none;
	border-bottom-left-radius: 8px;
	padding: 4px;
	background: hsl(35, 100%, 50%);
	z-index: 1;
}
#header > .optionsAction + #scanResults {
	margin-right: 24px;
}
body:not(.usingTouch) #header > .optionsAction:hover:not(:active):not(.current) {
	background: hsl(35, 100%, 65%);
}
#header > .optionsAction:active {
	background: hsl(35, 100%, 40%);
}
#header > .optionsAction.current:not(:active) {
	background: hsl(35, 100%, 80%);
}
#actionList .action {
	width: 100%;
	height: 34px;
	font-size: 20px;
	border-bottom: 1px solid var(--inner-border-color);
}
#actionList .action::before {
	margin: 8px;
}
#lovedArtists {
	flex: 1;
}
#lovedArtists {
	background: hsl(357, 90%, 54%);
}
#watchFailure {
    background-image: url("/images/failed.svg"), url("/images/deviantart/Watch.png");
    background-position: 5px center, 7px center;
    background-repeat: no-repeat, no-repeat;
    padding-left: 30px;
}
/* For .deviantList styling, see deviantList.css */
/* For styling of elements related to Find & Options, see findMode.css & optionsMode.css */
#tipOfTheMoment {
	position: relative;
	background-color: hsl(40, 100%, 65%);
	font-size: 75%;
	padding: 3px;
	padding-left: 22px;
}
#totmIcon {
	position: absolute;
	top: 3px;
	left: 3px;
}